<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="ModalLg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    ...
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top:-25px;">
                    <span aria-hidden="true" style="color:#fff;">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="idBodyModalLg">
                ...
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(".close").click(function () {
            $("div").removeClass("in");
            $("div").removeClass("fade");
            $("div").removeClass("modal-backdrop");
        });
    });
</script>