<div class="input-group" style="width:85%; float:left;">
    <input id="cari" name="cari" type="text" class="form-control" placeholder="Cari berdasarkan nama">
    <div class="input-group-append">
        <button type="button" class="btn btnCariBatal btn-noline btn-top-bottom-line" onclick="document.getElementById('cari').value = ''">
            <i class="fas fa-times"></i>
        </button>
        <button type="submit" class="btn btnCari btn-outline-secondary">
            <i class="fas fa-search"></i>
        </button>
    </div>
</div>