@using (Html.BeginForm("Create", "Pelatihan", FormMethod.Post@*, new { id = "idformsimpan" }*@))
{
    
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="training_name"><font size="2" color="000066" face="Arial">Nama (Kursus, penataran, pelatihan, workshop) *</font></label>
            <input type="text" class="form-control" id="training_name" name="training_name" required oninvalid="this.setCustomValidity('Nama Pelatihan Tidak Boleh Kosong')" oninput="setCustomValidity('')"/>
            
        </div>
        <div class="form-group col-md-6">
            <label for="organizer"><font size="2" color="000066" face="Arial">Penyelenggara *</font></label>
            <input type="text" class="form-control" id="organizer" name="organizer" required oninvalid="this.setCustomValidity('Penyelenggara Tidak Boleh Kosong')" oninput="setCustomValidity('')"/>
            
        </div>

    </div>
    <div class="form-row">
        <div class="form col-md-3">
            <label><font size="2" color="000066" face="Arial">Waktu Pelaksanaan</font></label>
            <div>
                <select  class="form-control form-inline col-md-12" id="year" name="training_year"><option>--Pilih Tahun--</option></select>
            </div>
        </div>

        <div class="form col-md-3">
            <label><font size="2" color="000066" face="Arial" hidden>Waktu Pelaksanaan</font></label>
            <div >
                <select  class="form-control form-inline col-md-12" id="month" name="training_month"><option>--Pilih Bulan--</option></select>
            </div>
        </div>

        <div class="form col-md-3">
            <label><font size="2" color="000066" face="Arial">Lama Durasi</font></label>
            <input type="text" class="form-control form-inline col-md-12" id="training_duration" name="training_duration" />
        </div>
        <div class="form col-md-3">
            <label><font size="2" color="000066" face="Arial" hidden>Lama Durasi</font></label>
            @Html.DropDownList("time_period_id", new SelectList(ViewBag.Listx_time_period, "id", "name", "--Pilih--"), new { @class = "form-control form-inline col-md-12", @id ="time_period_id" })
        </div>

    </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="city"><font size="2" color="000066" face="Arial">Kota</font></label>
                <input type="text" class="form-control" id="city" name="city" />
            </div>
            <div class="form-group col-md-6">
                <label for="country"><font size="2" color="000066" face="Arial">Negara</font></label>
                <input type="text" class="form-control" id="country" name="country" />
            </div>
        </div>
        <div class="form-group">
            <label for="notes"><font size="2" color="000066" face="Arial">Catatan</font></label>
            <input type="text" class="form-control" id="notes" name="notes" />
        </div>
        <br />
        <br />
        <br />
        <div class="btn-group" style="float:right">
            <button type="button" data-dismiss="modal" style="background-color:#ff6a00; margin-top:-30px;" class="btn btn-warning" font size="2">
                <span aria-hidden="true">Batal</span>
            </button>
            <input type="submit" class="btn btn-secondary " id="save" font size="2" value="Simpan" style="margin-top:-30px;">
        </div>
}
<script>
    $(document).ready(function () {
        const monthNames = ["Januari", "Februari", "Maret", "April", "Mei", "Juni",
          "Juli", "Agustus", "September", "Oktober", "November", "Desember"
        ];
        var qntYears = 12;
        var selectYear = $("#year");
        var selectMonth = $("#month");
        var currentYear = new Date().getFullYear();

        for (var y = 0; y < qntYears; y++) {
            let date = new Date(currentYear);
            var yearElem = document.createElement("option");
            yearElem.value = currentYear
            yearElem.textContent = currentYear;
            selectYear.append(yearElem);
            currentYear--;
        }

        for (var m = 0; m < 12; m++) {
            let monthNum = new Date(2018, m).getMonth()
            let month = monthNames[monthNum];
            var monthElem = document.createElement("option");
            monthElem.value = m+1;
            monthElem.textContent = month;
            selectMonth.append(monthElem);
        }

        
        //$("#save").click(function () {

        //    validationname();
        //    validationorganizer();
            //var dtform = $("#idformsimpan").serialize();
            //$.ajax({
            //    url: '/Pelatihan/Create',
            //    data: dtform,
            //    method: 'post',
            //    success: function (md1) {
            //        if (md1.saveAll.includes("emailexist")) {
            //            $("#validname").show();
            //        }
            //        if (md1.saveAll.includes("nonxist")) {
            //            $("#validnon").show();
            //        }
            //        if (md1.saveAll == "Berhasil") {
            //            alert("Data berhasil disimpan");
            //            window.location.reload();
            //        }
            //        else {
            //            alert("Data tidak berhasil disimpan");
            //            //window.location.reload();
            //        }

            //    }

            //})

        //})
        //function validationname() {

        //    var nama = $("#training_name").val();
        //    if ($("#training_name").val == "") {
        //        $("#validname").show();
        //        return false;
        //    }
        //    else {
        //        $("#training_name").hide();
        //        return true;
        //    }
        //}
        //function validationorganizer() {

        //    var p = $("#organizer").val();
        //    if ($("#organizer").val == "") {
        //        $("#validorganizer").show();
        //        return false;
        //    }
        //    else {
        //        $("#organizer").hide();
        //        return true;
        //    }
        //}
    });
    

</script>

