@{
    ViewBag.ModalTitle = "Detil Pelamar";
}

<!--BEGIN container-->
<div class="col-12 container detail">
    <!--BEGIN sidenav-->
    <div class="col-3 sidenav" style="float:left;">
        @Html.Partial("_SideNavPelamar")
    </div>
    <!--END sidenav-->
    <!--BEGIN main-->
    <div class="col-9 main detailPelamar" style="float:right;">
        ...
    </div>
    <!--END main-->

</div>
<!--END container-->